{% extends 'profiles/base.html' %}


{% block content %}
<div class="container-fluid">
   <div class="sticky-top ">
        <h2 class="text-center">
            <a href="{% url 'profile' %}">
                <img src="https://icon2.cleanpng.com/20180425/fue/kisspng-computer-icons-button-5ae031e2bf0904.7825510515246422747825.jpg" style="height: 4vmin; border-radius: 50%; margin-right: 15vmin;" alt="">
            </a>
            Comments
        </h2>
        <hr>
   </div>
   <div class="container">
    {% for photo  in photos %}
        <div class="row">
            <div class="col-md-7">
                <img src="{{photo.image.url}} " style="height: 100vh; width: 70vh;margin-right: 50vmin;" alt="..">
            </div>
            <div class="col-md-5" style="margin-top: 30%;">
                <p>
                    {{photo.comments}}
                </p>
            </div>            
        </div>
        {% endfor %}
    </div>
   

<style>
    .sticky-top{
        padding-top: 5vmin;
        color: #fff;
        background-color: #000;
    }
</style>
</div>
{% endblock content %}
