{%extends 'base.html'%}
{% block content%}
<div class="container">
	{% if profile%}

	{%for profile in profile%}
		<div class="row" style="padding-bottom:20px">
		
			<div class="col-md-4">
				<img class="center-block img-responsive img-circle" style="border-radius: 50%; height: 40vmin; width: 40vmin;" src="{{profile.profile_pic.url}}" alt="" style="width:170px; height:170px">
			</div>
			<div class="col-md-8">
				<br><br><br>
				<h2><strong><i>@{{profile.user}}</i></strong></h2>
				<br><br>

				<div class="level is-mobile">
					<div class="level-item has-text-centered ">
						<div>
						  <h2 class="title"> Post{{images|pluralize}} </h2>
						  <p class="title">{{images|length}}</p>
						</div>
					</div>
					
					<div class="level-item has-text-centered">
						<div>
						  <h2 class="title"> Follower{{followers|pluralize}} </h2>
						  <p class="title">{{followers}}</p>
						</div>
					</div>
	
					<div class="level-item has-text-centered">
						<div>
						  <h2 class="title"> Following</h2>
						  <p class="title">{{following}}</p>
						</div>
					</div>
				</div>
				
				
				<div class="card" style="border-radius: 12px;">
					<div class="card-title">
						<h5 class="text-muted" style=" margin-left: 20px;"><i>Bio</i></h5>
					</div>
					<div class="card-body">
						<h4>{{profile.bio}}</h4>
					</div>
				</div>
				<br>
					{%if profile.user.id == user.id%}
						<a class="btn btn-sm btn-success" href="">Upload Image</a>
						<a class="btn btn-sm btn-primary" href=""> Update Profile</a>
						
					{%else%}
						 {%if is_follow%}
						 <a href="" class="btn btn-danger">Unfollow</a>
						 {%else%}
						 <a href="" class="btn btn-success">Follow</a>
				         {%endif%}
				        
					{%endif%}
			</div>
		
		</div>
	
	{%endfor%}
	{%else%}

			<div class="col-md-4">
				<img class="center-block img-responsive img-circle" src="../../static/images/default.png" alt="" style="width:170px; height:170px">
			</div>
			<div class="col-md-8">
				<h2><strong>{{user}}</strong></h2
				<h4><strong>0</strong> Post <strong>0</strong> Followers <strong>0</strong> Following</h4>
				<h4>An Awesome Bio Will Appear Here</h4>
				
					<a class="btn btn-sm btn-success" href="">Create Post</a>
					<a class="btn btn-sm btn-primary" href="{% url 'updateProfile' %}"> Update Profile</a>
					
			</div>
		
		</div>

	{%endif%}

	
		
	
<hr>	
</div>

<div class="row">
	<div class="container">
	{%if images%}
	{% for image in images%}
	
		<div class="col-md-4">				
					
		     <div class="hovereffect thumbnail">
		        <a href="{% url 'single' image.id %}">
				        	<img class="img-responsive" src="{{image.image.url}}" alt="">
				</a>     
		      
		    </div>

		</div>
	
	{%endfor%}
	{%else%}
		{%if profile.user.id == user.id%}
			
				<h3 class="text-center">You havent posted any images yet. Get started by posting one <a href="{% url 'create' %}">here</a></h3>
		{%else%}
			<h3 class="text-center">This user hasn't created any posts yet.</h3>

		{%endif%}
	{%endif%}

	</div>
</div>

{%endblock%}


