{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
<div class="section">
  <div class="container">
    {% for profile in profiles %}
    <article class="media">
      <figure class="media-left image is-200x200">
        <img class="is-rounded" style="width: 30vmin; height: 30vmin;" src=" {{profile.profile_pic.url}} ">
      </figure>
      <div class="media-content">
        <div class="content">

            
            
            <h4 style="font-weight: bold;" class="title">@ {{profile.name}} </h4>
            
            <!-- <button class="button is-success level-right">Follow</button> -->              
          
          </div> <br><br><br><br>

          <nav class="level is-mobile">
            <div class="level-item has-text-centered">
            
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Following</p>
                <p class="title">123</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Followers</p>
                <p class="title">456K</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Likes</p>
                <p class="title">789</p>
              </div>
            </div>
          </nav>

          <div class="subtitle is-5 "> <br> <br><br>
            <p>
                <h3 ><i>BIO</i></h3>
              {{profile.bio}}
            </p>
            <button class="button level-right">Edit Profile</button>
          </div>

          <div class="tabs is-centered">
            <ul>
              <li class="is-active"><a>
                <i class="material-icons">auto_awesome_mosaic</i>
                Posts</a></li>
              <li>
                <a>
                  <i class="material-icons" >save_alt</i>
                  Saved</a></li>

            </ul>
          </div>
          
          <div class="row">

            {% for photo in photos %}
            <div class="col-md-4">
                <div class="card my-2" >
                    <img class="card-img-top mr-1 image-thumbnail " src=" {{photo.image.url}} " alt="Card image cap">                    
                </div>
            </div>

            {% empty %}

            <h3>No photos ...</h3>
            
            {% endfor %}
        </div>
              
            
            {% endfor %}
        

      </div>

     
    </article>
    
  </div>
</div>

<style>
    .image-thumbnail{
        max-height: 300px;
        object-fit: cover;
    }
    a{
        text-decoration: none;
    }
</style>

{% endblock content %}
    