{%extends 'base.html'%}
{% block content%}
<div class="container">
	{% if profile%}

	{%for profile in profile%}
		<div class="row" style="padding-bottom:20px">
		
			<div class="col-md-4">
				<img class="center-block img-responsive img-circle" style="border-radius: 50%; height: 40vmin; width: 40vmin;" src="{{profile.profile_pic.url}}" alt="" style="width:170px; height:170px">
			</div>
			<div class="col-md-8">
				<br><br><br>
				<h2><strong><i>@{{profile.user}}</i></strong></h2>
				<br><br>

				<div class="level is-mobile">
					<div class="level-item has-text-centered ">
						<div>
						  <h2 class="title"> Post{{images|pluralize}} </h2>
						  <p class="title">{{images|length}}</p>
						</div>
					</div>
					
					<div class="level-item has-text-centered">
						<div>
						  <h2 class="title"> Follower{{followers|pluralize}} </h2>
						  <p class="title">{{followers}}</p>
						</div>
					</div>
	
					<div class="level-item has-text-centered">
						<div>
						  <h2 class="title"> Following</h2>
						  <p class="title">{{following}}</p>
						</div>
					</div>
				</div>
				
				
				<div class="card" style="border-radius: 12px;">
					<div class="card-title">
						<h5 class="text-muted" style=" margin-left: 20px;"><i>Bio</i></h5>
					</div>
					<div class="card-body">
						<h4>{{profile.bio}}</h4>
					</div>
				</div>
				<br>
					{%if profile.user.id == user.id%}
						<a class="btn btn-sm btn-success" href="{% url 'create' %}">Upload Image</a>
						<a class="btn btn-sm btn-primary" href="{% url 'updateProfile' %}"> Update Profile</a>
						
					{%else%}
						 {%if is_follow%}
						 <a href="" class="btn btn-danger">Unfollow</a>
						 {%else%}
						 <a href="" class="btn btn-success">Follow</a>
				         {%endif%}
				        
					{%endif%}
			</div>
		
		</div>
	
	{%endfor%}
	{%else%}

			<div class="col-md-4">
				<img class="center-block img-responsive img-circle" src="../../static/images/default.png" alt="" style="width:170px; height:170px">
			</div>
			<div class="col-md-8">
				<h2?><strong>{{user}}</strong></h2>
				<h4><strong>0</strong> Post <strong>0</strong> Followers <strong>0</strong> Following</h4>
				<h4>An Awesome Bio Will Appear Here</h4>
				
					<a class="btn btn-sm btn-success" href="{% url 'create' %}">Create Post</a>
					<a class="btn btn-sm btn-primary" href="{% url 'updateProfile' %}"> Update Profile</a>
					
			</div>
		
		

	{%endif%}


	<div class="tabs is-centered">
		<ul>
		  <li class="is-active">
			<a style="text-decoration: none; color: blue;">
			  <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
			  <span>Pictures
				<span class="material-icons">
					photo
					</span>
			  </span>
			</a>
		  </li>
		</ul>
	  </div>

	  
	  {% if images %}
	   
	   {% for photo in images %}
		<div class="columns is-mobile mr-1 my-2" style="display: inline-block; border-color: blue; ">
			<div class="column">
				<img src=" {{photo.image.url}} " style="height: 40vmin; width: 40vmin;" alt="">
			</div>
		</div>
		
	 
	   {% endfor %}
		   
	  {% else %}
	  <h2>
		  You have no posts yet!
	  </h2>
	  {% endif %}
		  

	  
</div>
{%endblock%}


